@import "tailwindcss";

/**@utility container {
  margin-inline: auto; /*making container center*/
@utility carousel {
  anchor-name: --carousel;
  scroll-marker-group: after;

  &::scroll-marker-group {
    position: absolute;
    position-anchor: --carousel;
    top: calc(anchor(bottom) - (-10px));
    left: 25%;

    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  &::scroll-button(*) {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.25rem;
    padding-bottom: 0.1em;
    cursor: pointer;
    position: absolute;
    position-anchor: --carousel;
    transition: background-color 0.2s ease;
  }

  &::scroll-button(right) {
    content: "❯";
    position-area: right center;
    translate: -50%;
  }

  &::scroll-button(left) {
    content: "❮";
    position-area: left center;
    translate: 50%;
  }

  &::scroll-button(*):disabled {
    opacity: 0.3;
    cursor: auto;
  }

  @apply overflow-x-scroll snap-x snap-mandatory scrollbar-none scroll-smooth;
}

@utility carousel-wrap {
  &::scroll-marker {
    content: "";
    height: 1em;
    width: 1em;
    background-color: #cbd5e1;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  &::scroll-marker:target-current {
    background-color: #0f172a;
    transform: scale(1.2);
    opacity: 0.6;
  }

  @apply snap-center;
}
